body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black; /* Added to visualize the centered text */
}

.container {
  position: relative;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Additional styling for the text fields */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  text-align: center; /* Added to center the text within the fields */
}

/* Additional styling for all other text on the page */
body, input[type="text"], textarea {
  color: white;
  font-family: "Grill Sans MS", Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  transition: transform 0.3s;
  font-family: "Grill Sans MS", Arial, sans-serif;
}

a.button:hover {
  transform: scale(1.1);
}

a.button:active {
  transform: scale(1);
  opacity: 0.8;
}
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  margin: 0 10px; /* Adjust the spacing as desired */
}

.welcome-section {
  display: flex;
  align-items: center;
}

.welcome-section h1 {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.welcome-section h1 .image {
  display: inline-block;
  width: 1em; /* Adjust the width as needed */
  height: 1em; /* Adjust the height as needed */
  background-image: url("src/servertrans.png");
  background-size: 19.92px 20px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-link {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

